<h1><%= "Welcome, #{@user.username}!" %></h1><br><br>
<h3>Friends</h3>
<%= button_to "Add Friend", new_friend_path %>
<% if @user.friends.present? %>
  <% @user.friends.each do |friend| %>
    <p><%= friend.name %></p>
  <% end %>
<% else %>
  <p>You currently have no friends</p>
<% end %><br>
<%= link_to "Discover Movies", discover_path %>
